accelerate==1.12.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
bitsandbytes==0.49.1
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cut-cross-entropy==25.1.1
datasets==4.3.0
diffusers==0.36.0
dill==0.4.0
docstring_parser==0.17.0
fastapi==0.116.1
filelock==3.20.0
frozenlist==1.8.0
fsspec==2025.9.0
h11==0.16.0
hf_transfer==0.1.9
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
idna==3.11
importlib_metadata==8.7.1
iniconfig==2.3.0
Jinja2==3.1.6
MarkupSafe==2.1.5
mpmath==1.3.0
msgspec==0.20.0
multidict==6.7.1
multiprocess==0.70.16
networkx==3.6.1
numpy==2.3.5
packaging==26.0
pandas==3.0.0
peft==0.18.1
pillow==12.0.0
propcache==0.4.1
protobuf==6.33.5
psutil==7.2.2
pyarrow==23.0.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
regex==2026.1.15
requests==2.32.5
safetensors==0.7.0
sentencepiece==0.2.1
six==1.17.0
starlette==0.47.3
sympy==1.14.0
tokenizers==0.22.2
torch==2.10.0+cu128
torchao==0.15.0
torchaudio==2.10.0+cu128
torchvision==0.25.0+cu128
tqdm==4.67.3
transformers==4.57.6
triton-windows==3.6.0.post25
trl==0.24.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tyro==1.0.6
tzdata==2025.3
unsloth==2026.1.4
unsloth_zoo==2026.1.4
urllib3==2.6.3
uvicorn==0.35.0
websockets==16.0
xformers==0.0.34
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
